@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overscroll-behavior-x: none;
  /* prevent browser back action when horizontaly scrolling boards  */
  /* scroll-padding-right: 1em; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

/* Toggle browser scrollbar color theme */
[data-color-scheme="dark"] {
  color-scheme: dark;
}
[data-color-scheme="light"] {
  color-scheme: light;
  /* color: black; */
}
